{{#each posts as |post| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>

            <a href="/post/{{posts.id}}">{{posts.name}}</a>
        </h2>
        <p>Created by {{posts.user.name}} on {{format_date posts.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{posts.description}}
        </p>
    </div>
</div>
{{/each}}